



@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body{
	background-color: black;
	
}




/*---------------Nav--------------*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #ffca08;
    color: white;
	border-radius: 0 0 15px 15px;
}

.brand-title img {
width: 57px;
    margin-left: 20px;
    margin-right: -20px;
}


.brand-title  {
	margin: 10px;
    margin-left: 2em;
 
	
}


.navbar-links {
       height: 100%;
    margin-right: 50px;
    margin-left: -40px;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links ul li a:hover {
   	color: #fff;
	text-shadow: 0 0 20px rgb(255,224,27),
				 0 0 20px rgb(255,224,27),
				 0 0 20px rgb(255,224,27),
				 0 0 20px rgb(255,224,27),
				 0 0 20px rgb(255,224,27),
				 0 0 20px rgb(255,224,27),
				 0 0 20px rgb(255,224,27),
				 0 0 20px rgb(255,224,27);
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
	font-size: 17px;
}



.toggle-button {
    position: absolute;
    top: 2.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 34px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}








/*------------search----------------*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
}



.search{
	width: 59%;
    margin-left: 5%;
    margin-bottom: 5px;
	margin-top: 5px;	
}

form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid white;
  float: left;
  width: 80%;
  background: white;
  border-radius: 30px;
}

form.search button {
    float: left;
    width: 7%;
    padding: 10px;
    background: #ffca08;
    color: white;
    font-size: 17px;
    border: 1px solid transparent;
    border-left: none;
    cursor: pointer;
    border-radius: 30px;
}



form.search::after {
  content: "";
  clear: both;
  display: table;
}
















/*---------end ---search-----------------*/


@media (min-width:320px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
		
    }

 .toggle-button {
    display: flex;
    margin-right: 4%;
       margin-top: -2%;
}

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a  {
	margin-left: 2em;
    border-radius: 15px;
    font-size: 20px;
    border: 1px solid white;
    width: 100%;   
	}

    .navbar-links.active {
        display: flex;
    }
.search{
	width:27em;
	margin-bottom:3%;
}
.brand-title img {
  width: 57px;
}

form.search button {
    float: left;
    width: 7%;
    margin-left: 44em;
    margin-top: -43px;
    padding: 10px;
    background: #ffca08;
    color: white;
    font-size: 17px;
    border: 1px solid transparent;
    border-left: none;
    cursor: pointer;
    border-radius: 30px;
}

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid white;
    float: left;
    margin-left: 21%;
    width: 152%;
    background: white;
    border-radius: 30px;
}
.search {
    width: 27em;
    margin-bottom: 2%;
    margin-top: -55px;
}


.brand-title img {
    width: 57px;
    margin-bottom: -10px;
}
}





@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
		
    }

    .toggle-button {
        display: flex;
        margin-right:1%;
        margin-top:1%;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a  {
	margin-left: 2em;
    border-radius: 15px;
    font-size: 20px;
    border: 1px solid white;
    width: 100%;   
	}

    .navbar-links.active {
        display: flex;
    }
.search{
	width:27em;
	margin-bottom:3%;
}
.brand-title img {
  width: 57px;
}
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid white;
    float: left;
    margin-left: 21%;
    width: 93%;
    background: white;
    border-radius: 30px;
}
form.search button {
    float: left;
    width: 7%;
    margin-top: -43px;
    margin-left: 29em;
    padding: 10px;
    background: #ffca08;
    color: white;
    font-size: 17px;
    border: 1px solid transparent;
    border-left: none;
    cursor: pointer;
    border-radius: 30px;

}

.toggle-button {
    display: flex;
    margin-right: 2%;
    margin-top: -22px;
}
}

@media (min-width:1281px) {

	form.search input[type=text] {
		padding: 10px;
		font-size: 17px;
		border: 1px solid white;
		float: left;
		margin-bottom: -5px;
		margin-left: 21%;
		width: 233%;
		background: white;
		border-radius: 30px;
}

	form.search button {
		float: left;
		width: 7%;
		margin-left: 65em;
		margin-top: -39px;
		padding: 10px;
		background: #ffca08;
		color: white;
		font-size: 17px;
		margin-bottom: -5px;
		border: 1px solid transparent;
		border-left: none;
		cursor: pointer;
		border-radius: 30px;
}
	.toggle-button {
		display: flex;
		margin-right: 4%;
		margin-top: -22px;
}
	}



/*-------------END---NAV-------------------*/






main {
  width:100%;
  margin: 0 auto;
  padding: 30px 20px;
 min-height: calc(99vh - 143px - 58px);
}






body{
	
	background-color:black;
	
}
.section{
	width: 90%;
    margin-left: 5%;
    margin-top: 4%;	
}

.section h2{
	margin-top: 0;
    color: white;
    margin-bottom: 0px;
    font-size: 20pt;
    font-family: 'Josefin Sans', sans-serif;
	
}

.section hr.line {
border: 5px solid rgb(18,18,18);  
}

.searchlist{  

	margin-left: 3em;

}

.searchlist #rectangle {
	height: 300px;
    width: 850px;
    background-color: rgb(18,18,18);
	margin-top: 50px;
	 border: 3px solid black;
	 border-radius:15px;
}




.searchlist .list{
	margin-top: 25px;
    margin-bottom: 50px;
    list-style: none;
    width: 57em;
}


.searchlist .imglist img{
	width: 195px;
    margin: -64px 0 0 25px;
    height: 17em;
    border-radius: 30px;
    border: 3px solid white;
}



.searchlist h2{
	margin-top: 15px;
    font-size: 23pt;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 8em;
    color: white;
}



.searchlist p{
	float: right;
    width: 70%;
    margin-right: 7px;
    margin-top: 0px;
    color: white;
    max-height: 126px;
    overflow: hidden;
}


.searchlist .btn{
	text-align: center;
    background-color: #ffca08;
    color: #fff;
    font-weight: bold;
    width: 10em;
    border-radius: 20px;
    float: right;
    border: none;
    font-size: 20px;
    margin-top: -70px;
    margin-right: 3em;
    text-decoration: none;
    padding: 15px;
    outline: none;
    cursor: pointer;
 }









@media (max-width: 800px) {
	.searchlist #rectangle {
    height: 300px;
    width: 520px;
	}
	
	
	.searchlist .btn {
    text-align: center;
    background-color: #ffca08;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    margin-right: 3em;
    text-decoration: none;
    padding: 15px;
    outline: none;
    cursor: pointer;
    margin-left: 70px;
}
	
	
	.searchlist p {
    float: right;
    width: 53%;
    margin-right: 7px;
    margin-top: 0px;
    color: white;
    max-height:70px;
    overflow: hidden;
}
	
	
	
	.searchlist h2 {
    margin-top: 15px;
    font-size: 16pt;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 11em;
    color: white;
}
	
	.searchlist .imglist img {
    width: 195px;
    margin: -45px 0 0 25px;
    height: 17em;
    border-radius: 30px;
    border: 3px solid white;
}

}









@media (min-width:320px){
	
	.searchlist #rectangle {
    margin-left:-5%;
	}
	
	
	
}

@media (min-width:1281px) { 
.searchlist #rectangle {
    margin-left:0%;
	}
}





















/*-----------------Footer--------------------*/
.footer {
 width: 100%;
    background-color: #ffca08;
    color: white;
    text-align: center;
    height: auto;
    margin: 0;
    left: 0;
    position: absolute;
	border-radius: 100% 100% 0 0;
}

.footer img{
    text-align: center;
    margin-top: auto;
    width: 57px;
    margin-top: 20px;
    margin-bottom: 20px;
	
}
.footer p{
	
	margin-top: auto;
    text-align: center;
	
}



/*----------------End-Footer--------------------*/
